@charset "utf-8";

/* main styles */
body {
    font-size:0.9em;
    background-color:#08030C;
    background-image:url(../images/simple_dashed.png);
    background-attachment:fixed;
    font-family:'Quattrocento Sans',helvetica,sans-serif;
    margin-top:6em;
    color:#958F9A;
}

a, a:active, a:visited {
    text-decoration:none;
    color:#aaa;

    transition:all 0.6s ease;
}

a:hover {
    color:#fff;
}

/* misc styles */
.center {
    text-align:center;
}

/* main content */

#wrapper {
    width:70%;
    margin:auto;
    background-color:#160821;
    padding:1em;
}

.content {
	background-color:#20122A;
	padding:1em;
	border:5px solid #160821;
}

.flex-container {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.organizer {
	background-color:#20122A;
	padding:1em;
	flex:1;
	border:5px solid #160821;
}

.body {
	background-color:#20122A;
	padding:1em;
	flex:4;
	border:5px solid #160821;
}

@media (max-width:970px) {
	.flex-container {
		flex-direction:column;
	}
	
	.organizer {
		max-height:500px;
		overflow:auto;
	}
}

footer {
    width:70%;
    margin:auto;
}

/* nav bar */
nav {
    width:100%;
    margin:auto;
    position:fixed;
    top:0;
    left:0;
    background-color:#20122A;
}

ul {
    margin:0;
    padding:0;
}

li {
    display:inline-block;
    padding:0 0 0 0.6em;
}

li a.selected {
    color:#fff;
}

#controlnav {
    position:sticky;
    background-color:#160821;
    padding:1em;
    top:5.4em;
    text-align:right;
}

/* form elements */

input, select, textarea {
    background-color:#2B1E35;
    padding:0.3em;
    border:none;
    color:#958F9A;
    border:1px solid #160821
}

input {
	cursor:pointer;
}

textarea {
	width:100%;
}

.line {
    display:block;
    margin:0.5em;
}

label {
	font-weight:bold;
}

.button {
	background-color:#2B1E35;
    padding:0.3em;
    border:none;
    color:#958F9A !important;
    border:1px solid #160821
}

.button a {
	color:#958F9A;
}

.button a:hover {
	color:#958F9A;
}

/* text styles */
h1 {
    color:#fff;
    font-family:'Shadows Into Light', cursive;
    font-size:3em;
}

h2 {
    font-family:'Quattrocento', georgia, serif;
    font-weight:normal;
    text-align:center;
}

p {
    color:#958F9A;
    text-align:justify;
    line-height:1.6em;
    letter-spacing:1px;
}

p.title {
    font-family:'Shadows Into Light', cursive;
    font-size:1.5em;
    color:#fff;
    font-weight:bold;
}

p.lead {
    font-style:italic;
    color:#958F9A;
    font-weight:300;
    letter-spacing:3px;
}

p.folder {
	font-weight:bold;
	background-color:#2B1E35;
	padding:0.2em;
	text-align:center;
	
	transition:all 0.6s ease;
}

p.edit:hover {
	background-color:#403549;
}

p.doc {
	padding-left:0.5em;
}